body{
    margin: 0px;
    padding: 0px;
    height: auto; 
    width: auto;
}

.imagem-fundo {  
    height: 100%;
    max-height: 650px;
    max-width: 5000px;
    width: 100%; 
    margin: 0px;
    padding: 0px; 
    
}

.logo{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    max-height: 100px;
    max-width: 200px;
    width: 100%;
}
.titulo{
    position:absolute;
    color: white;
    font-size: 3rem;
    max-height: 650px;
    top: 10%;
    left: 25%;
    text-align: center;
    
    
}
.titulo2{
    position:absolute;
    color: white;
    font-size: clamp(2em, 2em + 1vw, 1.5em);
    max-height: 650px;
    top: 30%;
    left: 35%;
    text-align: center;
}
@media(min-width: 425px) {
    p {
     font-size: 25px;
    }
   }
